<mat-drawer-container class="main-content-container" autosize>
    <mat-drawer #drawer class="aside-panel" mode="over" position="end">
        <mat-toolbar class="adduser-header">
            <h4>Добавление пользователя</h4>
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-toolbar>

        <mat-sidenav-container class="form-container">
        <form [formGroup]="AddUser">
            <section formGroupName="userRole">
                <h4>Роль пользователя</h4>
                <mat-form-field appearance="legacy">
                    <mat-label>Роль пользователя</mat-label>
                    <mat-select [(value)]="selected" formControlName="role" required>
                        <mat-option value="super_admin">Сотрудник AxWhite</mat-option>
                        <mat-option value="admin">Сотрудник организации</mat-option>
                    </mat-select>
                    <mat-error *ngIf="AddUser.get('userRole').get('role').errors?.required">
                        {{ERROR_MESSAGES.FORM.required}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="showAdress" appearance="legacy">
                    <mat-label>Организация*</mat-label>
                    <mat-select formControlName="organization">
                        <mat-option *ngFor="let element of organizations" [value]="element?._id">{{ element?.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="AddUser.get('userRole').get('organization').errors?.required">
                        {{ERROR_MESSAGES.FORM.required}}
                    </mat-error>
                </mat-form-field>
            </section>
            <section formGroupName="name">
                <h4>ФИО</h4>
                <mat-form-field appearance="legacy">
                    <mat-label>Имя</mat-label>
                    <input matInput formControlName="first" placeholder="Имя" required>
                    <mat-error *ngIf="AddUser.get('name').get('first').errors?.required || AddUser.get('name').get('first').errors?.whitespace">
                        {{ERROR_MESSAGES.FORM.required}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Фамилия</mat-label>
                    <input matInput formControlName="last" placeholder="Фамилия" required>
                    <mat-error *ngIf="AddUser.get('name').get('last').errors?.required || AddUser.get('name').get('last').errors?.whitespace">
                        {{ERROR_MESSAGES.FORM.required}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Отчество</mat-label>
                    <input matInput formControlName="middle" placeholder="Отчество">
                </mat-form-field>
            </section>
            <section *ngIf="showAdress">
                <h4>Должность</h4>
                <mat-form-field>
                    <mat-select placeholder="Должность" formControlName="role" required>
                        <mat-option *ngFor="let role of availableRoles" [value]="role._id">
                            {{ role.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="AddUser.get('role').errors?.required">{{ERROR_MESSAGES.FORM.required}}
                    </mat-error>
                </mat-form-field>
            </section>
            <section formGroupName="actualAddress" *ngIf="showAdress">
                <h4>Адрес</h4>
                <mat-form-field appearance="legacy">
                    <mat-label>Страна*</mat-label>
                    <mat-select placeholder="Страна*" formControlName="country">
                        <mat-option *ngFor="let country of availableCountries" [value]="country">
                            {{ country }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="AddUser.get('actualAddress').get('country').errors?.required || AddUser.get('actualAddress').get('country').errors?.whitespace">
                        {{ERROR_MESSAGES.FORM.required}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Город*</mat-label>
                    <input matInput formControlName="city" placeholder="Город">
                    <mat-error *ngIf="AddUser.get('actualAddress').get('city').errors?.required || AddUser.get('actualAddress').get('city').errors?.whitespace">
                        {{ERROR_MESSAGES.FORM.required}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Улица / Пр-т.*</mat-label>
                    <input matInput formControlName="street" placeholder="Улица / Пр-т.">
                    <mat-error *ngIf="AddUser.get('actualAddress').get('street').errors?.required || AddUser.get('actualAddress').get('street').errors?.whitespace">
                        {{ERROR_MESSAGES.FORM.required}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy">
                    <mat-label>Номер здания*</mat-label>
                    <input matInput formControlName="streetNumber" placeholder="Номер здания">
                    <mat-error *ngIf="AddUser.get('actualAddress').get('streetNumber').errors?.required || AddUser.get('actualAddress').get('streetNumber').errors?.whitespace">
                        {{ERROR_MESSAGES.FORM.required}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Почтовый индекс" formControlName="zip">
                </mat-form-field>
            </section>
            <section formGroupName="contact">
                <h4>Контакты</h4>
                <div formArrayName="phones" *ngFor="let phone of phonesUserControls.controls; let i = index; let last = last;">
                    <div [formGroupName]="i" class="stepper-form-control">
                        <mat-form-field>
                            <input matInput placeholder="Телефон*" formControlName="phone" type="text" prefix="+375" mask='(XX) XXX-XX-XX'>
                        </mat-form-field>
                        <button  *ngIf="phonesUserControls.controls.length > 1" mat-icon-button (click)="removeUserPhone(i)">
                            <mat-icon matSuffix>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <span class="add-btn" (click)="addUserPhone()">
                    <mat-icon class="addIcon">add_circle</mat-icon>Добавить телефон
                </span>
                <div formArrayName="emails" *ngFor="let email of emailsUserControls.controls; let i = index; let last = last;">
                    <div [formGroupName]="i" class="stepper-form-control">
                        <mat-form-field>
                            <input matInput placeholder="E-mail*" formControlName="email">
                        </mat-form-field>
                        <button  *ngIf="emailsUserControls.controls.length > 1" mat-icon-button (click)="removeUserEmail(i)">
                            <mat-icon matSuffix>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <span class="add-btn" (click)="addUserEmail()">
                    <mat-icon class="addIcon">add_circle</mat-icon>Добавить e-mail
                </span>
                <h4>Введите свой пароль</h4>
                <mat-form-field appearance="legacy">
                    <mat-label>Пароль</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Пароль" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="AddUser.get('contact').get('password').errors?.required || AddUser.get('contact').get('password').errors?.whitespace">
                        {{ERROR_MESSAGES.FORM.required}}
                    </mat-error>
                </mat-form-field>
            </section>
        </form>
        </mat-sidenav-container>

        <mat-toolbar class="adduser-footer">
            <button class="save-button" (click)="save(); emailsUserControls.controls.length = 1; phonesUserControls.controls.length = 1" mat-flat-button disabled color="primary"
            [disabled]="!AddUser.valid">Сохранить</button>
            <button class="reset-button" mat-button (click)="AddUser.reset(); emailsUserControls.controls.length = 1; phonesUserControls.controls.length = 1" (click)="drawer.close()">Отменить</button>
        </mat-toolbar>
    </mat-drawer>

    <main>
        <div class="actions-row">
            <div class="spacer"></div>
            <button mat-flat-button color="primary" (click)="drawer.toggle()">Добавить пользователя</button>
        </div>
        <mat-tab-group mat-align-tabs="super">
            <mat-tab label = "Сотрудники AxWhite">
                <erp-axwhite-employees></erp-axwhite-employees>
            </mat-tab>
            <mat-tab label = "Сотрудники организаций">
                <erp-organization-employees></erp-organization-employees>
            </mat-tab>
            <mat-tab label = "Пользователи AxPass">
                <erp-clients-axpass></erp-clients-axpass>
            </mat-tab>
        </mat-tab-group>
    </main>
</mat-drawer-container>
